@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: #121212;
}

nav {
  background: #121212;
}

.gradient-underline {
  position: relative;
}

.gradient-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: -10;
  height: 2px;
  background-image: linear-gradient(to right, #ffe74c, #4392f1);
  background-origin: border-box;
}

.gradient-link {
  @apply gradient-underline hover:font-medium;
}

nav a:hover {
  @apply gradient-underline;
}
